.consultation{
    height: 680px;
    background: url(../img/foot.jpg) center (center/cover) no-repeat;
    padding: 100px 0;
    &__desc{
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        margin-top: 80px;

    }
}